
.container {
  height: 35em;
  width: 50em;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 5em 30em;
  grid-template-areas: 
  "logo header"
  "sidebar main";
  font-family: 'Courier New', Courier, monospace;
  column-gap:1em;
  
}

.welcome {
  grid-area: main;
  justify-self: center;
}
.app {
  grid-area: main; 
}
.main {
  grid-area: main;
  display:grid;
  grid-template-columns: 0.5fr 0.5fr;
  width: 1fr;
  column-gap: 1em;
  grid-template-rows: 2em 2em 2em 5em 2em 10em 7em;
  grid-template-areas:
  "name name"
  "sprites height"
  "sprites weight"
  "sprites types"
  "number moves"
  "stats abilities"
  "description description";
}

.logo {
  grid-area: logo;
  font-size: xx-large;
  font-weight: 700;
  justify-self: center;
  align-self: center;
}

a:link {
  text-decoration: 1px black;
  color: black;
}

a:visited{
  color: black;
}
.header {
  grid-area: header;
  justify-self: center;
  align-self: center;
}

h1 {
  margin: 0px;
}

.sidebar {
  height: 30em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90% 5% 5%;
  grid-area: sidebar;
  grid-template-areas: 
  "list list"
  "searcher searcher"
  "button1 button2";
}


.pokemon-list {
  grid-area: list;
  display: grid;
  max-height: 1em;
}

.searcher {
  grid-area: searcher;
  align-self: flex-end;
  text-align: center;
  font-size: small;
}

.searcher > input {
  width: 2em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.searcher > input::placeholder {
  color: black;
  opacity: 1;
}

.searcher >input:focus::placeholder{
  color: transparent;
}

.navButton {
  background-color: transparent;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;  
  align-self: flex-end;
  
}

.pokemonButton {
  width: 99%;
  background-color: transparent;
  border: 0px;
  font-family: 'Courier New', Courier, monospace; 
  font-size: medium;
  margin-bottom: 0.5px;
  text-align: center;
}

.pokemonButton:focus {
  outline: 1px solid black;
}

.number {
  grid-area: number;
  font-weight: 600;
  align-self: flex-end;
  text-align: center;
}

.name {
  grid-area: name;
  font-size: x-large  ;
  font-weight: 600;
  text-align: center;
}
.height {
  grid-area: height;
  align-self: flex-end;
}
.weight {
  grid-area: weight;
}
.types {
  grid-area: types;
}
.moves {
  grid-area: moves;
  text-decoration: underline solid black;
}

.sprites {
  grid-area: sprites;
  height: 100%;
  display: grid;
  border: 1px;
  border-style: inset;
  grid-template-rows: 90% 10%;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "image image"
  "button1 button2";  
  margin: 5px
  
}

.spriteButton{
  background-color: transparent;
  font-size: xx-small;
  margin: 0px;

}

img {
  height: 100%;
  transform: scaleX(-1);
  filter: grayscale(100%);
  grid-area: image;
  justify-self: center;
}

.abilities {
  grid-area: abilities;
  margin-top: 2em;
}
.stats {
  grid-area: stats;
  margin-top: 2em;
}

.description {
  min-height: 5em;
  grid-area: description;
  align-self: flex-end;
  border: 3px groove;
  text-justify: auto;
}

.screen {
  margin-left: 2em;
  margin-right: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  border: 3px;
  border-style: outset;
  background-color:white;
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 10;
  align-content: space-between;
  overflow-y: scroll;
  display: grid;
  height: 80%;
  width: 80%;
}

.screen-text {
  margin-bottom: 1em
}

.screen-close {
  border: 0px;
  text-align: center;
  width: 100%;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline solid black;
}

.hidden {
  display: none;
}